.circle1 {
	width: 100px;
	height: 100px;
	background: purple;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    left: 1px;
    
}
.circle2 {
	width: 100px;
	height: 100px;
	background: lightgreen;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    left: 8em;
}
.circle3 {
	width: 100px;
	height: 100px;
	background: lightgreen;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    left: 8em;
}
.circle4 {
	width: 100px;
	height: 100px;
	background: lightgreen;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    top: 8em;
    right: 15.5em;
}
.circle5 {
	width: 100px;
	height: 100px;
	background: lightgreen;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    left: 7.5em;
}
.circle6 {
	width: 100px;
	height: 100px;
	background: gold;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    left: 8em;
}
span {
    position: absolute;
    right: 40px;
    top: 30px;
    color: white;
    font-size: 32px;
}